<!DOCTYPE html>
<html>
  <head>
    <title>Signup && Signin Page</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="signup-container">
      <form action="/login" method="post">
        <div class="signup-logo">
          <img
            src="https://cdn-icons-png.flaticon.com/128/220/220214.png"
            alt=""
          />
        </div>
        <div class="signup-head">
          <h1>Welcome to Pinterest</h1>
        </div>
        <div class="signup-inputs">
          <p>Username</p>
          <input type="text" name="username" id="" />
          <p>Password</p>
          <input type="password" name="password" id="" />
          <p><input type="submit" value="Continue" /></p>
        </div>
        <div class="signup-login">
          <p class="signup-para">
            By continuing, you agree to Pinterest's
            <span>Terms of Service</span> and acknowledge you've read our
            <span>Privacy Policy. Notice at collection</span>.
          </p>
          <p class="signup-login">
            Not on Pinterest yet?<a href="/"> Sign Up</a>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>

<!-- <form action="/signup" method="post">
          <div class="mb-3">
            <input name="username" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Username">
          </div>
          <div class="mb-3">
            <input name="email" type="email" class="form-control" placeholder="Email">
          </div>
        
          <div class="mb-3">
            <input name="password" type="password" class="form-control" placeholder="Password">
          </div>
          <input type="submit" value="Submit" class="btn btn-primary" />
        </form>  -->

<!-- <form action="/login" method="post">
      <div class="mb-3">
        <input name="username" type="text" class="form-control" placeholder="Username">
      </div>

      <div class="mb-3">
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form> -->
